
@feeds-width : 250px;

#feeds {
	width: @feeds-width;
	z-index : 10;
	position: absolute;
	right: -300px;
	top: @header-height;
	background: fadeout(@gray, 30%);
	padding: @gutter 0;
	bottom: 0px;
	overflow: scroll;
	transition : all 0.3s 0s; 

	.btn-group {

		padding: 0 @gutter;
		margin-bottom: @gutter;

		.btn-default {

			@height : 22px;

			background: rgb(216,216,216);
			border-color : rgb(151,151,151);
			height: @height;
			line-height: @height - 2 ;
			padding-top: 0;
			padding-bottom: 0;
			color: fadeout(@dark, 50%);
			font-size: 11px;

			&.active {
				background-color: fadeout(@gray, 70%);
				color: white;
			}
		}

		.btn-default:last-child {
			border-radius: 0 10px 10px 0;
		}


		.btn-default:first-child {
			border-radius: 10px 0 0 10px;
		}

	}


	ul {

		list-style : none;
		color: white;
		text-align : left;
		margin: 0;
		padding: 0;

		li {

			margin-bottom: @gutter;
			font-weight: 300;


			h6 {

				padding: 10px @gutter;
				background: rgba(255,255,255,0.3);
				letter-spacing: 1px;
				margin: 0;
				font-weight: 300;
				
				.hours {
					float: right;
					letter-spacing: 0;

				}
			}

			p {
				margin: 0;
				padding: 5px @gutter;
				font-size: 13px;
				line-height: 15px;
			}

			ul {

				padding: 0 @gutter;

				li {
					float: left; 
					width: 30px;
					height: 30px;
					background : white;
					margin-left: 10px;
					margin-bottom: 0;

					&:first-child {
						margin-left: 0;
					}

				}


			}

		}

	}
}

.feeds-on {
	#feeds {
		right: 0px;
	}
}