#header {
	
	height : @header-height;
	background : @dark;
	color: @light-text-color;
	
	#logo {
		line-height : @header-height;
		margin: 0;
		padding: 0;
		width: 120px;

		img {
			width: 100%;
		}
	}

	#project {
		line-height: 60px;

		h2 {
			
			float: left;
			margin: 0;

			a {
				color: white;
				text-decoration: none;
				font-size: 22px;
				line-height: @header-height;
				position: relative;
				top: 2px;
			}
			
		}
	}

	#search-main {

		float : right;
		position: relative;

		input {
			padding: 0 15px;
			height: @header-height / 2 - 4;
			line-height : @header-height /2;
			border-radius : 20px;
			border :none;
			width: 200px;
			max-width: 200px;
			margin-right: @gutter;
			margin-top: @header-height / 4 + 2;
			background: white;
			color: @gray;
		}

		.icon-search {
			position: absolute;
			right: @gutter + 10;
			color: gray;
			top: @header-height / 2 - 6;

		}
	}

	#feeds-icon {
		font-size: 22px;
		float : right;
		line-height : @header-height;
		.pointer;
	}


}