@import "../../bower_components/bootstrap/less/bootstrap";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600);
@import "/assets/icons/style.css";
@import "header";
@import "sidebar";
@import "feeds";


@screen-xl-min: 1400px;

@media (min-width: @screen-xl-min) {
  .make-grid(xl);
}



@base : rgb(0, 159, 232); 
@dark : rgb(0,0,0);
@gray : rgb(26,31, 42);

@header-height : 60px;
@sidebar-width : 200px;
@light-text-color : white; 
@light-box-bg : white;
@gutter : 15px;

.vpc {
	color: #76d0a8;
}

.subnet {
	color: #ec4ea6;
}

.security-group {
	color: #5ea3d1;
}

.pointer {
	cursor : pointer;
}

.menu-hover {
	content: "";
	display: block;
	position: absolute;
	width: 2px;
	left: 0;
	height: 100%;
	background: @base;
	top: 0;
}


html, body {
	margin: 0;
	padding: 0;
	max-width: 100%;
	height: 100%;
	overflow: hidden;
}

body {
	background: url('../../img/yosemite.jpg') no-repeat center top;
	background-size: cover; 
	font-family: 'Open Sans', sans-serif;
}



.btn {
	border-radius: 0;
}

.btn-primary {
	background-color: @base;
	border-color: @base;
}

.modal-title {
	color: @base;
}

.modal-body {
	color: @dark;
}



.box-body {
	background: rgba(255,255,255,0.9);
	padding: @gutter;

	a {
		text-decoration: none;
	}
	
	.form-actions {
		margin-top: 10px;
	}
}

.box-header {
	background: @base;
	border-radius: 3px 3px 0 0;
}

.box-title {
	padding-left: @gutter;
}

.control-label {
	color: @base;
	font-weight: normal;
}





#main {
	margin-left : @sidebar-width;
	color: @light-text-color;
	min-height: 100%;
	height: 100%;
	overflow: scroll;
	box-sizing : border-box;
	padding-bottom: 100px;
}

a {
	color: @base;
	text-decoration: underline;
}

a.hover {
	color: @base;
}


#map {
	min-height: 500px;
	margin-bottom: @gutter * 2;
	position: relative;
	margin-top: @gutter;

	h2 {
		background-color: @base;
		margin: 0;
		padding: @gutter;
		font-size: 14px;
		border-radius: 3px 3px 0 0;
	}
	> img {
		width: 100%;
	}
	

	.region {

		position: absolute;
		width: 250px;
		background-color: @base;
		border-radius: 3px 3px 0 3px;

		&:after {
			content: "";
			position: absolute;
			right: 0;
			bottom: -30px;
			width: 0;
			height: 0;
			border-top: 30px solid @base;
			border-right: 50px solid transparent;
			opacity: 0.6;
		}

		h5 {

			margin: 0;

			a {
				color: white; 
				text-decoration: none;
				border-bottom: 1px solid white;
				padding: @gutter;
				display: block;
			}
		}

		ul {

			list-style: none;
			margin: 0;
			padding: @gutter;


			li {
				
				margin-bottom: 5px;
				position: relative;
				height: 20px;

				> span {
					position: absolute;
					color: white;
					left: 0;
					top: 3px;
				}

				.gauge {

					width: 100%;
					box-sizing: border-box;
					padding-left: 25px;
					padding-right: 50px;
					position: relative;
					top: 6px;

					> div {
						
						border: 1px solid white;
						height: 7px;
						border-radius: 5px;

						span {
							height: 100%;
							background-color: white;
							display: block;
						}
					}
				}

				p {
					position: absolute;
					left: 180px;
					top: 0;
				}

			}

		} 
	}

	.region.left {

		border-radius: 3px 3px 3px 0;

		&:after {
			right: auto;
			left: 0;
			border-top: 30px solid @base;
			border-left: 50px solid transparent;
			border-right: none;
		}
	}

	#us-west {
		top: 20%;
		left: 3%;
	}

	#us-east {
		top: 20%;
		left: 3%;
		display: none;
	}

	#us-east-location {

		position: absolute;
		left: 20%;
		top: 50%;

		> span {
			width: 100px;
			height: 100px;
			border-radius: 50px;
			background: fadeout(@base, 70%);
			position: absolute;
			top: 50%;
			left: 50%;
			margin-top: -100px;
			margin-left: -100px;
		}
		
		> span:nth-child(1) {
			-webkit-animation: beat 1.5s infinite;
		}
		
		> span:nth-child(2) {
			-webkit-animation: beat 1s 0.5s infinite;
		}
	}


}

@-webkit-keyframes beat {
	0% {
		-webkit-transform: scale(0.2);
		opacity: 0.5;

	}
	50% {
		-webkit-transform: scale(0.5);
		opacity: 0.8;
	}
	100% {
		-webkit-transform: scale(0.2);
		opacity: 0.5;
	}
}

.widget {

	margin: @gutter 0;
	
	h6 {
		background: @base;
		padding: @gutter;
		border-radius : 5px 5px 0 0;
		margin: 0;
		font-size: 14px;

		.icon-setting {
			float : right;
			.pointer;
		}
	}

	table {

		margin: 0;
		width: 100%;
		background: fadeout(@light-box-bg, 10%);
		box-sizing: border-box;

		thead tr th {
			color: @gray;
			font-weight: 300;
			padding: @gutter;
			text-align: center;
		}

		tbody tr td {
			padding: @gutter;
			text-align : center;
			color: @gray;
		}

		
	}

}


#breadcum {

	@height : 30px;

	height: @height; 
	background: fadeout(@light-box-bg, 40%);
	margin-left : @sidebar-width;
	z-index: 5;
	position: relative;

	> ul {
		background : white;
		list-style: none;
		margin: 0;
		padding: 0;

		> li {
			
			float: left;
			color: fadeout(@gray, 60%);
			position: relative;
			text-align: center;


			a {
				text-decoration: none;
				color: fadeout(@gray, 60%);
				min-width: 80px;
				padding: 0 20px;
				line-height: @height;
				display: block;

				&:hover {
					color: @base;
				}
			}

			&.active {
				color: @gray;
				min-width: 80px;
				padding: 0 20px;
				line-height: @height;

			}
			
			span {
				margin-right: 10px;
			}


			&:after, 
			&:before {
				content : ""; 
				height: @height / 2 + 2; 
				background-color: fadeout(@gray, 60%); 
				position: absolute;
				right: 0;
				top: -1px;
				width: 1px;
				-webkit-transform: rotateZ(-30deg);
			}

			&.active:before, 
			&.active:after {
				background-color: @gray;
			}

			&:before {
				-webkit-transform: rotateZ(30deg);
				bottom: -1px;
				top: auto;
			}

			> ul {
				
				@bg : rgba(255, 255, 255, 0.9);
				@width : 150px;

				position: absolute;
				background-color: @bg;
				list-style: none;
				padding: 0;
				border-radius: 3px;
				left: 50%;
				margin-left: -@width/2;
				top: 40px;
				display: none;

				&:after {
					content: "";
					position: absolute;
					top: -10px;
					width: 0;
					height: 0;
					border-left: 10px solid transparent;
					border-right: 10px solid transparent;
					border-bottom: 10px solid @bg;
					left: 50%;
					margin-left: -10px;
				}

				li {
					border-bottom: 1px solid gray;
					> a {
						padding: @gutter/4 @gutter;
						display: block;
						min-width: @width;
						font-size: 12px;
						text-align: left;
						
						&:hover {
							background-color: fadeout(@base, 30%);
							color: white;
						}
					}

					&:last-child {
						border: none;
					}

				}
			}

		}

		> li.open {

			> ul {
				display: block;
			}
		}


	}
}

.data-table {
	
	@th-height : 35px;
	@cell-padding : 10px;
	@radius : 5px;

	width: 100%;
	margin-top: @gutter * 2; 

	thead {
		tr {
			th {
				background: fadeout(@base, 20%);
				height: @th-height;
				line-height: @th-height;
				text-align: center;
				padding: @cell-padding;
				font-weight: 300;
				letter-spacing: 1px;
				border-right: 1px solid fadeout(@light-text-color, 80%);
				position: relative;

				&:first-child {
					border-radius: @radius 0 0 0;
				}

				&:last-child {
					border-radius: 0 @radius 0 0;
					border-right: 0;
				}

				.search-expand {
					float: right;
					position: absolute;
					right: @gutter; 
					top: @th-height / 4;
				}

				a {
					text-decoration: none;
					color: white;
				}
				
				span {
					font-size: 25px;
					position: relative;
				}

				span.icon-desc {
					top: 9px;
				}

				span.icon-asc {
					top: 6px;
				}

				.desc {
					-webkit-transform: rotateX(90deg);
				}
			}
		}
	}

	tbody {
		tr {
			td {
				padding: @cell-padding;
				background: @light-box-bg;
				color: @gray;
				text-align: center;
			}
		}
	}
}

.search-expand {

	@height: 30px;
	position: relative;
	-webkit-transition: width 0.3s 0;

	input {
		padding: 5px 10px;
		height: @height;
		line-height: @height;
		border: none;
		width: 35px;
		background : transparent;
		color: @gray;
		-webkit-transition: all 0.3s 0;
		border-radius: 3px;
	}
	

	.icon-search {
		position: absolute; 
		color: @light-text-color;
		font-weight: 300;
		font-size: 15px;
		right: 0px;
		top: 0px;
		width: 40px;
		height: 30px;
		line-height: 32px;
	}

	&.active {

		input {
			width: 250px;
			background: white;
		}

		.icon-search {
			color: gray;
		}
		
	}
}