#sidebar {

	a {
		text-decoration: none;
		color: white;
	}

	position: absolute; 
	left: 0; 
	bottom: 0;
	top: @header-height;
	width: @sidebar-width;
	background : fadeout(@gray, 10%);
	color: @light-text-color;

	#user {

		background : @base;
		padding : @gutter; 

		#user-img {
			float: left;
			margin-right: @gutter;
			width: 50px;
			height : 50px;
			border-radius : 50px;
			background : white;
			overflow: hidden;

			img {
				width: 100%;
			}

		}

		#user-info {

			.alerts {

				margin-top: 5px;
				font-size: 20px;
			
				
				.notification {
					position: relative;

					&:after {

						@size : 17px;

						content: attr(title); 
						font-size : 11px;
						position: absolute;
						top: -5px;
						right: -5px;
						min-width: @size;
						min-height: @size;
						background: red;
						border-radius : @size;
						line-height: @size - 1 ;
						text-align : center;
					}
				}
			}
		}
	}

	ul {

		list-style : none;
		margin: 0;
		padding: 0;

		li {

			position: relative;

			> a {
				padding: @gutter;
				display: inline-block;
				width: 100%;
			}
			

			.btn-add {
				position: absolute;
				right: 20px;
				top: 0;
				margin: 0;
				display: none;
				height: 100%;

				> a {
					width: 40px;
					height: 100%;
					background-color: @base;
					color: white;
					display: inline-block;
					text-align: center;
					line-height: 50px;
				}
			}

			span {
				margin-right: 10px;
				width: 20px;
				display: inline-block;
				font-size: 17px;
			}

			&:hover {
				background: fadeout(@gray, 20%);

				&:after {
					.menu-hover;
				}

				.btn-add {
					display: block;
				}
			}
			
			&.active {
				background: fadeout(@gray, 20%);

				&:after {
					.menu-hover;
				}

				.btn-add {
					display: block;
				}
			}

		}

	}

}


.sidemenu {

	#sidebar {

		@firstwidth : 45px;
		@secondwidth : @sidebar-width - @firstwidth; 

		.menu {
			
			height: 100%;

			ul:nth-child(1) {
				
				width: 45px;
				overflow: hidden;
				float: left;
				background: @gray;
				height: 100%;

				li {
					width: 200px;

					span {
						margin-right: 20px;
					}

					&:hover {
						background: fadeout(@light-box-bg, 90%);

						&:after {
							display: none;
						}
					}

				}


			}

			ul:nth-child(2) {

				width: 155px;
				float: right;
				height: 100%;

				li {


					&:first-child {
						
						height: 60px;
						background-color: fadeout(@light-box-bg, 90%);

						h2 {
							font-size: 15px;
							float: left;
							margin-top: @gutter / 2;

						}

						span {
							float: right;
							margin-top: @gutter / 2;
							font-size: 17px;
						}

						&:hover {
							background : rgba(255, 255, 255, 0.1);
						}

						&:hover:after {
							display: none !important;
						}
					}

				}

			} // ul:nth-child(2)
		} // .menu 

	} // .sidebar
} // .sidemenu