@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?oiezba');
	src:url('fonts/icomoon.eot?#iefixoiezba') format('embedded-opentype'),
		url('fonts/icomoon.woff?oiezba') format('woff'),
		url('fonts/icomoon.ttf?oiezba') format('truetype'),
		url('fonts/icomoon.svg?oiezba#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-asc:before {
	content: "\e611";
}

.icon-desc:before {
	content: "\e610";
}

.icon-notice:before {
	content: "\e600";
}

.icon-clouds:before {
	content: "\e601";
}

.icon-menu:before {
	content: "\e602";
}

.icon-search:before {
	content: "\e603";
}

.icon-csr:before {
	content: "\e604";
}

.icon-setting:before {
	content: "\e605";
}

.icon-alarm:before {
	content: "\e606";
}

.icon-eip:before {
	content: "\e607";
}

.icon-ec2:before {
	content: "\e608";
}

.icon-lb:before {
	content: "\e609";
}

.icon-ebs:before {
	content: "\e60a";
}

.icon-mail:before {
	content: "\e60b";
}

.icon-home:before {
	content: "\e60c";
}

.icon-ssl:before {
	content: "\e60d";
}

.icon-hc:before {
	content: "\e60e";
}

.icon-dashboard:before {
	content: "\e60f";
}

